Source: gcg
Maintainer: Waldek Maleska <waldek.maleska@nokia.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9), dh-python, python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3),
 python-git (>= 1.0.1), python-semver (>= 2.0.1), python-jinja2 (>= 2.8),
 python3-setuptools, python3-all, python3-git, python3-semver, python3-jinja2
Standards-Version: 3.9.1
X-Python-Version: >= 2.7

Package: python-gcg
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Git Changelog Generator

Package: python3-gcg
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Git Changelog Generator
